body {
    font-family: 'VistaSansOT-Bold', sans-serif;
    src: url('public/VistaSansOT-Bold.ttf');
    background-color: #fdffff;
    color: #333;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Ensure the body takes full height */
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0; /* Remove margin */
    font-weight: 900;
    font-size: 100px;
}

:root {
    --top-bar-color: #29738e;
    --bright-orange: #febc40;
    --hot-pink: #FF69B4;
}

/* Main Container */
.main-container {
    height: 362px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #fdffff;
    position: sticky; /* Make the container fixed */
    top: 0; /* Stick to the top */
}

/* Table Container */
.table-container {
    flex-grow: 1; /* Allow the table container to take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0 auto;
    width: 100%; /* Full width */
    max-width: 97%; /* Optional: set a max width for the table */
    padding: 10px; /* Add padding for better spacing */
}

/* Table Styles */
.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    text-align: left;
    font-size: larger;
    padding: 8px;
}

.table td {
    font-weight: 400;
}

.table a {
    color: #333;
    text-decoration: none;
}

.table a:hover {
    color: #4abaff;
}

.table .hovered-row {
    background-color: #dcdbdb;
}

/* Progress Bar Styles */
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

.progress {
    background: transparent;
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 30px;
    border: 2px solid #07f985;
    border-radius: 50px;
    overflow: hidden;
}

.progress-fill {
    width: 0;
    height: 100%;
    background-color: #07f985;
    transition: width 0.5s ease;
}

.progress-text {
    position: absolute;
    font-weight: 700;
    top: 50%;
    right: 8px;
    transform: translateY(-45%);
    color: #07f985;
}

/* Daily Container Styles */
.daily-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}


.planned-container {
    width: 80%; /* Ensure it takes the same width as .daily-container */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the content inside the container */
}

#planned-problems {
    max-height: 100px; /* Adjust the max-height as needed */
    max-width: 600px; /* Set the maximum width for the list */
    margin: 0 auto; /* Center the list within its container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
}


/* Arrow and Button Styles */
.arrows-container {
    display: flex;
    gap: 30px;
}

.arrow-buttons, .today-buttons {
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.arrow-buttons {
    font-size: 40px;
}

.arrow-buttons:hover, .today-buttons:hover {
    color: orange;
}

.current-date-container {
    font-size: 30px;
    font-weight: 700;
}

/* Planned Problems Styles */
.planned-container ul {
    font-weight: 500;
    font-size: 30px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.planned-container h2 {
    font-weight: 800;
    margin: 50px 0 20px;
    font-size: 60px;
    padding-bottom: 10px;
}

.planned-container li:hover {
    color: var(--hot-pink);
    cursor: pointer;
}

/* Dots for difficulty levels */
.dot, .header-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer; /* Make the dot clickable */
}

.header-dot {
    background-color: #888; /* Default color for header dot */
    position: relative; /* Ensure the dot stays in place */
    top: 0; /* Adjust as necessary */
    left: -25px; /* Move to the left of the name */
}

.header-name .part1:hover{
    color: #d675ff;
}

.header-name .part2:hover{
    color: #d675ff;
}

.header-3:hover{
    color: #d675ff;
}

.header-dot:hover {
    background-color: var(--bright-orange);
}

.dot-Easy {
    background-color: #39ff14;
}

.dot-Medium {
    background-color: #ffff20;
}

.dot-Hard {
    background-color: #ff3131;
}

/* Highlight Row */
.highlight-row {
    background-color: #ffe5b4;
}
