body {
    font-family: 'VistaSansOT-Bold', sans-serif;
    src: url('C:\Users\Tuan Le\OneDrive\Desktop\code projects\leetcode-tracker\VistaSansOT-Bold.ttf');
    background-color: #fdffff;
    color: #333;
    text-align: center;
    padding: 30px;
}

h1 {
    margin: auto;
    /* padding: 10px; */
    font-weight: 900;
    font-size: 100px;
}

:root {
    --top-bar-color: #29738e;
    --bright-orange: #febc40;
    --hot-pink: #FF69B4;
}

.dot, .header-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer; /* Make the dot clickable */
}

.header-dot {
    background-color: #888; /* Default color for header dot */
    position: relative; /* Ensure the dot stays in place */
    top: 0; /* Adjust as necessary */
    left: -25px; /* Move to the left of the name */
}

.header-dot:hover {
    background-color: var(--bright-orange);
}

.dot-Easy {
    background-color: #39ff14;
}

.dot-Medium {
    background-color: #ffff20;
}

.dot-Hard {
    background-color: #ff3131;
}

.table-container {
    position: relative; /* Ensure table container is positioned */
    margin: 0 auto; /* Center the table horizontally */
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    text-align: left;
    font-size: larger;
    border-style: solid;
    border: 2px;
    padding: 8px;
}

.table td {
    font-weight: 400;
}

.table a {
    color: #333;
    text-decoration: none; 
}

.table a:hover {
    color: #4abaff;
}

.header-3:hover{
    color: #d675ff;
}

.table .hovered-row {
    background-color: var(--bright-orange);
}

.header-name span {
    cursor: pointer;
}

.header-name .part1:hover{
    color: var(--bright-orange);
}

.header-name .part2:hover{
    color: #4abaff;
}

/* Progress container styles */
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

/* Progress bar styles */
.progress {
    background: transparent;
    position: relative;
    width: 100%;  /* Ensure the progress bar takes full width */
    max-width: 900px; /* Set a max width for better control */
    height: 30px;
    border: 2px solid #07f985;
    border-radius: 50px;
    overflow: hidden;
}

/* Progress fill styles */
.progress-fill {
    width: 0;
    height: 100%;
    background-color: #07f985;
    transition: width 0.5s ease; /* Add a smooth transition for the width change */
}

/* Progress text styles */
.progress-text {
    position: absolute;
    font-weight: 700;
    top: 50%;
    right: 8px;
    transform: translateY(-45%);
    color: #07f985;
}


.daily-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
    justify-content: center; /* Center child elements vertically */
    padding-bottom: 50px;
    width: 80%; /* Set the same width as .planned-container */
    text-align: center; /* Center text within child elements */
    margin: 0 auto; /* Center the container horizontally */
}

#daily-count {
    color: #333;
    font-size: 150px;
    padding-left: 0; /* Remove left padding */
    border-radius: 10px;
}

.arrows-container {
    display: flex;
    gap: 30px;
    padding-left: 0; /* Remove left padding */
}

.arrow-buttons {
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.arrow-buttons:hover{
    color: orange;
}

.today-buttons {
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.today-buttons:hover{
    color: orange;
}

.current-date-container {
    font-size: 30px;
    font-weight: 700;
    padding-left: 0; /* Remove left padding */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.planned-container {
    width: 80%; /* Ensure it takes the same width as .daily-container */
    margin: 0 auto; /* Center the container horizontally */
}

.planned-container ul {
    font-weight: 500;
    font-size: 30px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.planned-container h2 {
    font-size: 60px;
    margin-top: 50px;
    padding-bottom: 10px;
}

.planned-container li:hover {
    color: var(--hot-pink);
    cursor: pointer;
}
/* Highlight row */
.highlight-row {
    background-color: #fee698; /* Light yellow background color */
}

